
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Products", "Index", "Products") <br/>
        @Html.ActionLink("Create Products", "Create", "Products") <br />
        @Html.ActionLink("Delete Products", "Create", "Products") <br />
    </div>
</body>
</html>
