
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    <div>
        @Html.ActionLink("Go to Index", "Index")
        @Html.ActionLink("Go to About", "About") 
    </div>
</body>
</html>
