
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>Create New</h1>
        @Html.ActionLink("Back", "Index", new { controller = "Admin", area = "Admin" })
    </div>
</body>
</html>
