@model IEnumerable<DomainObject.Entitys.New>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>
        <h1>Admin News</h1>
        @Html.ActionLink("Create New", "Create", new { controller = "Admin", area = "Admin" })|
        @Html.ActionLink("Go to News", "Index", new { controller = "News", area = "News" })


        @using (Ajax.BeginForm("FindNews", new AjaxOptions
        {
          InsertionMode = InsertionMode.Replace,
          UpdateTargetId = "update",
          LoadingElementId = "loader"
        }))
        {
            @Html.TextBox("nameNews")
            <input type="submit" value="Search" />
        }

        @* ... *@
        <div id="loader" class=" aletr" style="display:none">
            Loading...
        </div>
        <div id="update">
            @Html.Partial("SearchNewsView", Model)
        </div>
    </div>
</body>
</html>
