
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Read</title>
</head>
<body>
    <div> 
        <h1>Read New</h1>
        @Html.ActionLink("Back", "Index", new { controller = "Admin", area = "Admin" })
    </div>
</body>
</html>
